<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <dllmap os="osx" dll="opencl.dll" target="/System/Library/Frameworks/OpenCL.framework/OpenCL"/>
    <dllmap os="linux" dll="opencl.dll" target="/usr/lib/x86_64-linux-gnu/libOpenCL.so.1.0.0"/>
    <appSettings>

    </appSettings>
</configuration>
